rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{user.id} {
      allow read, create: if request.auth != null;
      allow update: if request.auth.uid == user_id


    }
    match /projects/{project.id} {
      allow read, create: if request.auth != null;
      allow delete: if request.auth.uid == resource.data.createdBy.id;
    }
  }
}


// CRUD =  Create Read Update and Delete
//users collection 
// Rules set that any autenticated user has CR permissions
// Only a user that created or is a owner of the user document can update it 
// U permissions

//project collection 
//CRU set on project documents for all autenticated users
//Only a user that created or is a owner of the a project document can delete it 